<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyCFVVtRpgSf2IOtxNP3KMWGGNyhsmtBA84&libraries=places' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
